<a routerLink="/some-page">go somewhere</a>

<div class="vh-100">
  <p class="text-center">Start SCROLLING</p>
</div>

<div class="vh-100">
  <p class="text-center">Keep Scrolling</p>
</div>

<section class="mb-8" id="roi">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-start">
        <div #BenefitsImgStart>
          <img
            class="img-fluid benefit__roi"
            src="https://assets-prd.ignimgs.com/2022/08/17/top25animecharacters-blogroll-1660777571580.jpg"
            alt="relaxed-mexican-man"
          />
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 py-lg-8 d-flex align-items-center">
        <div class="w-lg-90 mx-lg-auto">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
          eum, atque eveniet qui accusantium doloribus distinctio ipsa cum
          facere dolores odit at earum sequi quaerat animi placeat modi
          similique ullam.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-8" id="create">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-start">
        <div #BenefitsImg>
          <img
            class="img-fluid benefit__course"
            src="https://ichef.bbci.co.uk/news/480/cpsprodpb/F382/production/_123883326_852a3a31-69d7-4849-81c7-8087bf630251.jpg.webp"
            alt="woman-happy-with-course"
          />
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 py-lg-8 d-flex align-items-center">
        <div class="w-lg-90 mx-lg-auto">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
          eum, atque eveniet qui accusantium doloribus distinctio ipsa cum
          facere dolores odit at earum sequi quaerat animi placeat modi
          similique ullam.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-8" id="launch">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-start">
        <div #BenefitsImg>
          <img
            class="img-fluid benefit__create"
            src="https://images.squarespace-cdn.com/content/v1/61cccdf24b15db3d8a4a4d3c/1682193385052-Z0I1EIWXAB7ESNOBSNV9/Screen+Shot+2023-04-22+at+3.50.40+PM.png"
            alt="course-builder"
          />
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 py-lg-8 d-flex align-items-center">
        <div class="w-lg-90 mx-lg-auto">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
          eum, atque eveniet qui accusantium doloribus distinctio ipsa cum
          facere dolores odit at earum sequi quaerat animi placeat modi
          similique ullam.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-8 mb-lg-5" id="monetize">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-start">
        <div #BenefitsImg>
          <img
            class="img-fluid benefit__monetise"
            src="https://static1.colliderimages.com/wordpress/wp-content/uploads/2023/06/luffy-from-one-piece-goku-from-dragon-ball-z-and-saitama-from-one-punch-man.jpg
              "
            alt="happy-man-looking-at-his-phone"
          />
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 py-lg-8 d-flex align-items-center">
        <div class="w-lg-90 mx-lg-auto">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
          eum, atque eveniet qui accusantium doloribus distinctio ipsa cum
          facere dolores odit at earum sequi quaerat animi placeat modi
          similique ullam.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-8" id="security">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-center">
        <div #BenefitsImgEnd>
          <img
            class="img-fluid benefit__video"
            src="https://static0.srcdn.com/wordpress/wp-content/uploads/2023/09/best-anime-of-all-time.jpg"
            alt="video-playing"
          />
        </div>
      </div>
      <div
        class="col-lg-6 offset-lg-1 py-lg-8 px-lg-0 d-flex align-items-center"
      >
        <div class="w-lg-90 mx-lg-auto">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
          eum, atque eveniet qui accusantium doloribus distinctio ipsa cum
          facere dolores odit at earum sequi quaerat animi placeat modi
          similique ullam.
        </div>
      </div>
    </div>
  </div>
</section>

<div class="vh-100"></div>
